# Relatório

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('aluguel.csv', sep = ';')

In [4]:
df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [7]:
df.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

## Informações Gerais sobre a base

In [10]:
df.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [15]:
tipo_dados = pd.DataFrame(df.dtypes, columns = ['Tipo de Dados'])

In [16]:
tipo_dados.columns.name = 'Variavel'

In [17]:
tipo_dados

Variavel   Tipo de Dados
Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64

In [20]:
df.shape

(32960, 9)

In [21]:
print('A base de dados apresenta {} registros (imoveis) e {} variaveis'.format(df.shape[0], df.shape[1]))

A base de dados apresenta 32960 registros (imoveis) e 9 variaveis

## Importando dados via HTML

In [27]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp311-cp311-win_amd64.whl (3.8 MB)
                                              0.0/3.8 MB ? eta -:--:--
     -                                        0.1/3.8 MB 3.3 MB/s eta 0:00:02
     --                                       0.2/3.8 MB 2.4 MB/s eta 0:00:02
     ----                                     0.4/3.8 MB 3.0 MB/s eta 0:00:02
     -----                                    0.5/3.8 MB 3.1 MB/s eta 0:00:02
     ------                                   0.6/3.8 MB 3.0 MB/s eta 0:00:02
     -------                                  0.7/3.8 MB 2.9 MB/s eta 0:00:02
     --------                                 0.8/3.8 MB 2.4 MB/s eta 0:00:02
     --------                                 0.8/3.8 MB 2.3 MB/s eta 0:00:02
     --------                                 0.8/3.8 MB 2.0 MB/s eta 0:00:02
     ---------                                0.9/3.8 MB 1.9 MB/s eta 0:00:02
     ----------                               1.0/3.8 MB 1.9 MB/s eta 0:00:02
     -----------                              1.0/3.8 MB 1.9 MB/s eta 0:00:02
     -----------                              1.1/3.8 MB 1.9 MB/s eta 0:00:02
     ------------                             1.2/3.8 MB 1.9 MB/s eta 0:00:02
     -------------                            1.2/3.8 MB 1.8 MB/s eta 0:00:02
     -------------                            1.3/3.8 MB 1.8 MB/s eta 0:00:02
     ---------------                          1.4/3.8 MB 1.9 MB/s eta 0:00:02
     ----------------                         1.5/3.8 MB 1.9 MB/s eta 0:00:02
     -----------------                        1.6/3.8 MB 1.9 MB/s eta 0:00:02
     ------------------                       1.8/3.8 MB 2.0 MB/s eta 0:00:02
     --------------------                     1.9/3.8 MB 2.0 MB/s eta 0:00:01
     ---------------------                    2.0/3.8 MB 2.0 MB/s eta 0:00:01
     ----------------------                   2.2/3.8 MB 2.0 MB/s eta 0:00:01
     -----------------------                  2.2/3.8 MB 2.1 MB/s eta 0:00:01
     -------------------------                2.4/3.8 MB 2.1 MB/s eta 0:00:01
     --------------------------               2.5/3.8 MB 2.1 MB/s eta 0:00:01
     ---------------------------              2.5/3.8 MB 2.1 MB/s eta 0:00:01
     ---------------------------              2.6/3.8 MB 2.1 MB/s eta 0:00:01
     ----------------------------             2.7/3.8 MB 2.1 MB/s eta 0:00:01
     ------------------------------           2.8/3.8 MB 2.1 MB/s eta 0:00:01
     -------------------------------          2.9/3.8 MB 2.1 MB/s eta 0:00:01
     --------------------------------         3.0/3.8 MB 2.1 MB/s eta 0:00:01
     ---------------------------------        3.1/3.8 MB 2.1 MB/s eta 0:00:01
     ----------------------------------       3.3/3.8 MB 2.1 MB/s eta 0:00:01
     ------------------------------------     3.4/3.8 MB 2.1 MB/s eta 0:00:01
     --------------------------------------   3.6/3.8 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  3.8/3.8 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------- 3.8/3.8 MB 2.2 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.2
Note: you may need to restart the kernel to use updated packages.

In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url='https://www.federalreserve.gov/releases/h3/current/default.htm'
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'html.parser')
table = soup.findAll('table')
html_file = f'<html><body>{table}</body></html>'
df = pd.read_html(html_file)

# Como a função read_html retorna uma lista de DataFrames, basta acessar as tabelas pelos índices da lista.
# Como temos três tabelas na página usamos os índices 0, 1 ou 2 para acessar os DataFrames que buscamos
df[0]

ImportError: lxml not found, please install it